In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from zipfile import ZipFile


#path to zipfile
zip_file_path = "/content/processed_pond_datasets.zip"
output_file_path = "/content/processed_dataset"

#extract all contents from the zipfile
with ZipFile(zip_file_path, 'r') as zip_ref:
  zip_ref.extractall(output_file_path)
  print('Extraction done')

Extraction done

In [13]:
# Initialize an empty list to store dataframes
processed_dataframes = []

# Loop through each file in the extracted folder and load the CSV files
for file_name in os.listdir(output_file_path):
    if file_name.startswith('processed_') and file_name.endswith('.csv'):  # Filter for processed files
        file_path = os.path.join(output_file_path, file_name)
        df = pd.read_csv(file_path)
        processed_dataframes.append(df)

# Merge all dataframes into a single dataset
merged_processed_data = pd.concat(processed_dataframes, ignore_index=True)

# Display basic information and a preview of the merged dataset
# print(merged_processed_data.info())


#save merged dataset as csv
merged_processed_data.to_csv('merged_processed_data.csv', index=False)

merged_processed_data.head()

,bi_weekly_period,Temperature (C),Turbidity (NTU),Dissolved Oxygen (g/ml),pH,Ammonia (g/ml),Nitrate (g/ml),Average_Length(cm),Average_Weight(g),Growth_Rate(g/2weeks),...,Ammonia (g/ml)_RollingMean,Ammonia (g/ml)_RollingVariance,Nitrate (g/ml)_RollingMean,Nitrate (g/ml)_RollingVariance,Temperature (C)_Diff,Turbidity (NTU)_Diff,Dissolved Oxygen (g/ml)_Diff,pH_Diff,Ammonia (g/ml)_Diff,Nitrate (g/ml)_Diff
0,2021-06-14/2021-06-20,25.792713,33.993286,12.267360,8.107602,inf,855.276408,7.006702,3.609525,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-06-21/2021-06-27,25.302670,29.914604,23.454776,7.777017,inf,787.249372,8.670606,8.128841,4.519316,...,NaN,NaN,821.262890,2313.838826,-0.490043,-4.078683,11.187415,-0.330585,NaN,-68.027036
2,2021-06-28/2021-07-04,25.127839,33.966297,28.479477,7.219718,inf,410.096239,12.375512,18.349753,10.220912,...,NaN,NaN,598.672806,71122.242866,-0.174831,4.051693,5.024701,-0.557299,NaN,-377.153133
3,2021-07-05/2021-07-11,25.530740,32.906725,10.146171,6.951339,inf,360.070581,14.629027,29.554051,11.204297,...,NaN,NaN,385.083410,1251.283239,0.402902,-1.059572,-18.333306,-0.268379,NaN,-50.025658
4,2021-07-12/2021-07-18,24.997162,31.590451,9.022013,6.866495,inf,342.110186,15.965616,37.744192,8.190141,...,NaN,NaN,351.090383,161.287899,-0.533578,-1.316274,-1.124158,-0.084844,NaN,-17.960395

In [2]:
# Initialize an empty list to store individual dataframes
dataframes = []

# Loop through each file and load the data
for file_name in extracted_files:
    file_path = os.path.join(extraction_dir, file_name)
    # Load the CSV file
    df = pd.read_csv(file_path)
    # Add a column to identify the pond
    pond_id = file_name.split('.')[0]  # Extract pond ID from file name
    df['pond_id'] = pond_id
    dataframes.append(df)

# Concatenate all the dataframes into a single dataset
consolidated_data = pd.concat(dataframes, ignore_index=True)

# Display the first few rows to inspect the structure
consolidated_data.head(), consolidated_data.info()

<ipython-input-2-a264fbec5049>:8: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
<ipython-input-2-a264fbec5049>:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
<ipython-input-2-a264fbec5049>:8: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1114970 entries, 0 to 1114969
Data columns (total 43 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   created_at               1044225 non-null  object
 1   entry_id                 1114888 non-null  float64
 2   Temperature (C)          326119 non-null   float64
 3   Turbidity (NTU)          172249 non-null   float64
 4   Dissolved Oxygen(g/ml)   757157 non-null   float64
 5   PH                       1107513 non-null  float64
 6   Ammonia(g/ml)            756853 non-null   float64
 7   Nitrate(g/ml)            757157 non-null   float64
 8   Population               612829 non-null   float64
 9   Fish_Length (cm)         172249 non-null   float64
 10  Fish_Weight (g)          172249 non-null   float64
 11  pond_id                  1114970 non-null  object
 12  TEMPERATURE              7375 non-null     float64
 13  TURBIDITY                7375 non-null     float64
 14  DISOLVED OXYGEN          7375 non-null     float64
 15  pH                       7375 non-null     float64
 16  AMMONIA                  7374 non-null     float64
 17  NITRATE                  7375 non-null     float64
 18  Length                   4210 non-null     float64
 19  Weight                   7375 non-null     float64
 20  Temperature(C)           501782 non-null   float64
 21  Turbidity(NTU)           655652 non-null   float64
 22  Fish_Length(cm)          433203 non-null   object
 23  Fish_Weight(g)           433203 non-null   float64
 24  DATE                     151785 non-null   object
 25  Fish_length(cm)          431397 non-null   float64
 26  Fish_weight(g)           431397 non-null   float64
 27  Unnamed: 0               70744 non-null    object
 28  Date                     350356 non-null   object
 29  Dissolved Oxygen (mg/L)  70744 non-null    float64
 30  Ammonia (mg/L)           70744 non-null    float64
 31  Nitrate (mg/L)           70744 non-null    float64
 32  Total_length (cm)        70744 non-null    float64
 33  Weight (g)               70744 non-null    float64
 34  Unnamed: 11              1 non-null        object
 35  Lenght                   3165 non-null     float64
 36  temperature(C)           279612 non-null   float64
 37  turbidity (NTU)          279612 non-null   float64
 38  Dissolved Oxygen (g/ml)  279612 non-null   float64
 39  ammonia(g/ml)            185224 non-null   float64
 40  nitrate(g/ml)            279612 non-null   float64
 41  Unnamed: 12              6 non-null        float64
 42  Unnamed: 13              7 non-null        object
dtypes: float64(35), object(8)
memory usage: 365.8+ MB

(                created_at  entry_id  Temperature (C)  Turbidity (NTU)  \
 0  2021-06-19 00:00:05 CET    1889.0          24.8750            100.0
 1  2021-06-19 00:01:02 CET    1890.0          24.9375            100.0
 2  2021-06-19 00:01:22 CET    1891.0          24.8750            100.0
 3  2021-06-19 00:01:44 CET    1892.0          24.9375            100.0
 4  2021-06-19 00:02:07 CET    1893.0          24.9375            100.0

    Dissolved Oxygen(g/ml)       PH  Ammonia(g/ml)  Nitrate(g/ml)  Population  \
 0                   4.505  8.43365           0.38          193.0        50.0
 1                   6.601  8.43818           0.38          194.0        50.0
 2                  15.797  8.42457           0.38          192.0        50.0
 3                   5.046  8.43365           0.38          193.0        50.0
 4                  38.407  8.40641           0.38          192.0        50.0

    Fish_Length (cm)  ...  Weight (g) Unnamed: 11  Lenght  temperature(C)  \
 0              6.96  ...         NaN         NaN     NaN             NaN
 1              6.96  ...         NaN         NaN     NaN             NaN
 2              6.96  ...         NaN         NaN     NaN             NaN
 3              6.96  ...         NaN         NaN     NaN             NaN
 4              6.96  ...         NaN         NaN     NaN             NaN

    turbidity (NTU)  Dissolved Oxygen (g/ml)  ammonia(g/ml)  nitrate(g/ml)  \
 0              NaN                      NaN            NaN            NaN
 1              NaN                      NaN            NaN            NaN
 2              NaN                      NaN            NaN            NaN
 3              NaN                      NaN            NaN            NaN
 4              NaN                      NaN            NaN            NaN

    Unnamed: 12  Unnamed: 13
 0          NaN          NaN
 1          NaN          NaN
 2          NaN          NaN
 3          NaN          NaN
 4          NaN          NaN

 [5 rows x 43 columns],
 None)

In [3]:
# Step 1: Retain relevant date columns and parse them
# If multiple date columns exist, identify the most consistent one
if 'created_at' in consolidated_data.columns:
    consolidated_data['created_at'] = pd.to_datetime(consolidated_data['created_at'], errors='coerce')
elif 'DATE' in consolidated_data.columns:
    consolidated_data['DATE'] = pd.to_datetime(consolidated_data['DATE'], errors='coerce')
elif 'Date' in consolidated_data.columns:
    consolidated_data['Date'] = pd.to_datetime(consolidated_data['Date'], errors='coerce')

# Use the most relevant date column (e.g., 'created_at')
consolidated_data['date'] = consolidated_data['created_at']  # Replace with available date column

# Drop redundant date columns but retain 'date'
columns_to_drop = [col for col in consolidated_data.columns if 'Unnamed' in col] + [
    'created_at', 'DATE', 'Date', 'entry_id'
]

<ipython-input-3-23b4dc261837>:4: FutureWarning: Parsed string "2021-06-19 00:00:05 CET" included an un-recognized timezone "CET". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  consolidated_data['created_at'] = pd.to_datetime(consolidated_data['created_at'], errors='coerce')