In [87]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from zipfile import ZipFile

#path to zipfile
zip_file_path = "/content/ML.zip"

#extract all contents from the zipfile
with ZipFile(zip_file_path, 'r') as zip_ref:
  zip_ref.extractall("/content/cleaned_dataset")
  print('Extraction done')

Extraction done

In [88]:
#load the dataset
file_path = "/content/cleaned_dataset/ML/processed_pond1.csv"
data = pd.read_csv(file_path)

In [86]:
#data.rename(columns={'TEMPERATURE': 'Temperature(C)', 'TURBIDITY': 'Turbidity(NTU)', 'DISOLVED OXYGEN': 'Dissolved Oxygen(g/ml)',
#                           'pH':'PH', 'AMMONIA':'Ammonia(g/ml)', 'NITRATE':'Nitrate(g/ml)', 'Length':'Fish_length(cm)', 'Weight':'Fish_weight(g)'}, inplace=True)

# Display the first few rows to understand the structure3
print("Original Dataset Preview:")
print(data.head())

Original Dataset Preview:
                created_at  entry_id  Temperature (C)  Turbidity(NTU)  \
0  2021-06-19 00:00:05 CET      1889          24.8750             100
1  2021-06-19 00:01:02 CET      1890          24.9375             100
2  2021-06-19 00:01:22 CET      1891          24.8750             100
3  2021-06-19 00:01:44 CET      1892          24.9375             100
4  2021-06-19 00:02:07 CET      1893          24.9375             100

   Dissolved Oxygen(g/ml)       PH  Ammonia(g/ml)  Nitrate(g/ml)  Population  \
0                   4.505  8.43365        0.45842            193          50
1                   6.601  8.43818        0.45842            194          50
2                  15.797  8.42457        0.45842            192          50
3                   5.046  8.43365        0.45842            193          50
4                  38.407  8.40641        0.45842            192          50

   Fish_Length(cm)  Fish_Weight(g)
0             7.11            2.91
1             7.11            2.91
2             7.11            2.91
3             7.11            2.91
4             7.11            2.91

In [49]:
# # Drop unnecessary attributes
columns_to_drop = ['entry_id']
data = data.drop(columns=columns_to_drop)

In [55]:
# Check for missing values
print("\nMissing Values:")
print(data.isnull().sum())
print(data.info())

Missing Values:
created_at                3564
Temperature(C)               0
Turbidity(NTU)               0
Dissolved Oxygen(g/ml)       0
PH                           0
Ammonia(g/ml)                0
Nitrate(g/ml)                0
Population                   0
Fish_length(cm)              0
Fish_weight(g)               0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3590 entries, 0 to 3589
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   created_at              26 non-null     datetime64[ns]
 1   Temperature(C)          3590 non-null   float64
 2   Turbidity(NTU)          3590 non-null   int64
 3   Dissolved Oxygen(g/ml)  3590 non-null   float64
 4   PH                      3590 non-null   float64
 5   Ammonia(g/ml)           3590 non-null   float64
 6   Nitrate(g/ml)           3590 non-null   int64
 7   Population              3590 non-null   int64
 8   Fish_length(cm)         3590 non-null   float64
 9   Fish_weight(g)          3590 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(3)
memory usage: 280.6 KB
None

In [28]:
 # Handling missing values
 # Fill missing values in Ammonia with the mean
data['Ammonia(g/ml)'] = data['Ammonia(g/ml)'].fillna(data['Ammonia(g/ml)'].mean())
# data['Temperature (C)'] = data['Temperature (C)'].fillna(data['Temperature (C)'].mean())
# data['Turbidity(NTU)'] = data['Turbidity(NTU)'].fillna(data['Turbidity(NTU)'].mean())
# data['Dissolved Oxygen (mg/L)'] = data['Dissolved Oxygen (mg/L)'].fillna(data['Dissolved Oxygen (mg/L)'].mean())
# data['PH'] = data['PH'].fillna(data['PH'].mean())
# data['Nitrate (mg/L)'] = data['Nitrate (mg/L)'].fillna(data['Nitrate (mg/L)'].mean())
# data = data.dropna(subset=['Unnamed: 0'])
# # Interpolate missing values in Fish_Length and Fish_Weight
# data['Total_length (cm)'] = data['Total_length (cm)'].interpolate(method='linear')
# data['Weight (g)'] = data['Weight (g)'].interpolate(method='linear')

# Verify that there are no missing values left
print("\nMissing Values After Handling:")
print(data.isnull().sum())

Missing Values After Handling:
created_at                0
Temperature(C)            0
Turbidity(NTU)            0
Dissolved Oxygen(g/ml)    0
PH                        0
Ammonia(g/ml)             0
Nitrate(g/ml)             0
Population                0
Lenght                    0
Fish_weight(g)            0
dtype: int64

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3590 entries, 0 to 3589
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   created_at              26 non-null     datetime64[ns]
 1   Temperature(C)          3590 non-null   float64
 2   Turbidity(NTU)          3590 non-null   int64
 3   Dissolved Oxygen(g/ml)  3590 non-null   float64
 4   PH                      3590 non-null   float64
 5   Ammonia(g/ml)           3590 non-null   float64
 6   Nitrate(g/ml)           3590 non-null   int64
 7   Population              3590 non-null   int64
 8   Fish_length(cm)         3590 non-null   float64
 9   Fish_weight(g)          3590 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(3)
memory usage: 280.6 KB

In [57]:
# Ensure 'created_at' is in datetime format
data['created_at'] = pd.to_datetime(data['created_at'], errors='coerce')

# Check for any invalid timestamps
invalid_timestamps = data['created_at'].isnull()
# if invalid_timestamps > 0:
#     print(f"\nFound {invalid_timestamps} invalid timestamps. Dropping these rows.")
#     data = data.dropna(subset=['created_at'])

# Verify the format
print("\nDataset after Timestamp Formatting:")
print(data['created_at'].head())
data.info()

Dataset after Timestamp Formatting:
0   2021-06-25 15:14:09
1   2021-06-25 15:14:28
2   2021-06-25 15:14:53
3   2021-06-25 15:15:49
4   2021-06-25 15:18:36
Name: created_at, dtype: datetime64[ns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3590 entries, 0 to 3589
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   created_at              26 non-null     datetime64[ns]
 1   Temperature(C)          3590 non-null   float64
 2   Turbidity(NTU)          3590 non-null   int64
 3   Dissolved Oxygen(g/ml)  3590 non-null   float64
 4   PH                      3590 non-null   float64
 5   Ammonia(g/ml)           3590 non-null   float64
 6   Nitrate(g/ml)           3590 non-null   int64
 7   Population              3590 non-null   int64
 8   Fish_length(cm)         3590 non-null   float64
 9   Fish_weight(g)          3590 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(3)
memory usage: 280.6 KB

In [58]:

# Ensure 'created_at' is in datetime format
data['created_at'] = pd.to_datetime(data['created_at'])

data['Fish_length(cm)'] = pd.to_numeric(data['Fish_length(cm)'], errors='coerce')

# Assign each timestamp to a bi-weekly period
data['bi_weekly_period'] = data['created_at'].dt.to_period('2W')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3590 entries, 0 to 3589
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   created_at              26 non-null     datetime64[ns]
 1   Temperature(C)          3590 non-null   float64
 2   Turbidity(NTU)          3590 non-null   int64
 3   Dissolved Oxygen(g/ml)  3590 non-null   float64
 4   PH                      3590 non-null   float64
 5   Ammonia(g/ml)           3590 non-null   float64
 6   Nitrate(g/ml)           3590 non-null   int64
 7   Population              3590 non-null   int64
 8   Fish_length(cm)         3590 non-null   float64
 9   Fish_weight(g)          3590 non-null   float64
 10  bi_weekly_period        26 non-null     period[2W-SUN]
dtypes: datetime64[ns](1), float64(6), int64(3), period[2W-SUN](1)
memory usage: 308.6 KB

In [59]:
# List of water quality parameters
water_quality_features = ['Temperature(C)', 'Turbidity(NTU)', 'Dissolved Oxygen(g/ml)',
                           'PH', 'Ammonia(g/ml)', 'Nitrate(g/ml)', 'Fish_length(cm)', 'Fish_weight(g)']

# Group by bi-weekly period and compute mean for each period
aggregated_quality_pond = data.groupby('bi_weekly_period')[water_quality_features].mean().reset_index()
aggregated_quality_pond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   bi_weekly_period        1 non-null      period[2W-SUN]
 1   Temperature(C)          1 non-null      float64
 2   Turbidity(NTU)          1 non-null      float64
 3   Dissolved Oxygen(g/ml)  1 non-null      float64
 4   PH                      1 non-null      float64
 5   Ammonia(g/ml)           1 non-null      float64
 6   Nitrate(g/ml)           1 non-null      float64
 7   Fish_length(cm)         1 non-null      float64
 8   Fish_weight(g)          1 non-null      float64
dtypes: float64(8), period[2W-SUN](1)
memory usage: 200.0 bytes

In [60]:
aggregated_quality_pond.head()

,bi_weekly_period,Temperature(C),Turbidity(NTU),Dissolved Oxygen(g/ml),PH,Ammonia(g/ml),Nitrate(g/ml),Fish_length(cm),Fish_weight(g)
0,2021-06-21/2021-06-27,27.036058,100.0,3.221308,6.061602,0.00015,189.076923,14.64,28.6

In [61]:
aggregated_quality_pond.sort_values(by='bi_weekly_period', inplace=True)

In [62]:
# Calculate growth rate (g/2-weeks)
aggregated_quality_pond['Growth_Rate(g/2weeks)'] = aggregated_quality_pond['Fish_weight(g)'].diff()

#change nan to 0 for the first row
aggregated_quality_pond['Growth_Rate(g/2weeks)'] = aggregated_quality_pond['Growth_Rate(g/2weeks)'].fillna(0)

In [63]:
aggregated_quality_pond.head()
aggregated_quality_pond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   bi_weekly_period        1 non-null      period[2W-SUN]
 1   Temperature(C)          1 non-null      float64
 2   Turbidity(NTU)          1 non-null      float64
 3   Dissolved Oxygen(g/ml)  1 non-null      float64
 4   PH                      1 non-null      float64
 5   Ammonia(g/ml)           1 non-null      float64
 6   Nitrate(g/ml)           1 non-null      float64
 7   Fish_length(cm)         1 non-null      float64
 8   Fish_weight(g)          1 non-null      float64
 9   Growth_Rate(g/2weeks)   1 non-null      float64
dtypes: float64(9), period[2W-SUN](1)
memory usage: 208.0 bytes

In [65]:

aggregated_quality_pond.to_csv('processed_pond12.csv', index=False)